

body
{
    background-color: #ffffe6;

}

.table-striped thead
{
    background-color: rgba(0,0,0,.2)
}

.table-striped tbody tr:nth-of-type(2n+1)
{
background-color: rgba(0,0,0,.05)
}

.table-striped tbody tr:nth-of-type(2n)
{
    background-color: rgba(0,0,0,.1)
}

a
{
    color:  #99003d;
}



.pagination a {
    color: #C3073F;

}

.pagination body
{
    color: #6F2232;
}



.page-item
{
    color: #FAF0E6;
}




.page-link
{
    background-color: #FAF0E6;
}


.page-item.active .page-link {
    z-index: 1;
    color: darkred;
    background-color: beige;
    border-color: #b9bbbe;
}

.page-item.disabled .page-link
{
    background-color:#f2f2f2;
}

.form-control
{
    background-color: #f2f2f2;
}
/*
input
{
    background-color: #cceeff;
}

.navigation text-center
{
    text-decoration-color:green;
}

.table
{
    color: #0b2e13;
}

 */